#title {
  color: #A37; }

h1 {
  text-align: center; }

.container {
  width: 80%;
  marign: auto;
  font-family: 'Roboto'; }

.navbar-default {
  min-height: 30px;
  font-size: 9px;
  color: #fff;
  background-color: #c30930;
  border-radius: 0;
  margin-bottom: 0;
  border: 0; }
  .navbar-default .navbar-nav {
    margin-left: 20%; }
  .navbar-default .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff; }
  .navbar-default .profile-img {
    border-radius: 100%;
    margin-left: 5px; }

.navbar-secondary {
  min-height: 10px;
  font-size: 7px;
  color: #848484;
  background-color: #f0f0f0;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar-secondary .navbar-right:last-child {
    margin-right: 0; }
  .navbar-secondary .navbar-right .glyphicon:before {
    margin: 3px;
    vertical-align: middle; }
  .navbar-secondary .navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #848484;
    padding: 3px 5px;
    line-height: 12px; }

.heading {
  background-color: #f4f4f4;
  height: 70px; }
  .heading .container {
    position: relative; }
    .heading .container .branding {
      display: inline-block;
      color: #fff;
      text-align: center;
      background-color: #c30930;
      width: 100px;
      height: 70px;
      position: relative;
      top: -20px; }
      .heading .container .branding p {
        position: absolute;
        top: 25px;
        left: 15px; }
    .heading .container .content {
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 15%;
      color: #939393;
      font-size: 16px; }
      .heading .container .content div {
        display: inline; }
    .heading .container .search {
      position: absolute;
      right: 0;
      top: 30px; }
      .heading .container .search .searchbox {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 2px 5px;
        font-size: 10px; }
        .heading .container .search .searchbox input {
          border: 0;
          width: 200px; }
          .heading .container .search .searchbox input:focus {
            outline: none; }

.hero {
  min-height: 300px;
  background-image: url("/img/background.jpg");
  background-position: center; }
  .hero .container {
    min-height: 300px;
    position: relative; }
    .hero .container .content {
      color: #fff;
      background-color: rgba(73, 73, 72, 0.95);
      position: absolute;
      bottom: 0px;
      padding: 10px 10px; }
      .hero .container .content div {
        display: inline-block;
        width: 48%;
        padding: 0 10px; }
        .hero .container .content div:first-child {
          border-right: 1px solid #666; }
        .hero .container .content div h2 {
          font-family: 'Roboto';
          font-weight: 100; }
        .hero .container .content div button {
          background: none;
          border: 1px solid #999;
          padding: 8px;
          font-size: 11px; }
        .hero .container .content div img {
          display: inline-block;
          width: 20%;
          vertical-align: baseline; }
        .hero .container .content div p {
          display: inline-block;
          width: 75%;
          font-size: 10px;
          vertical-align: top;
          padding: 10px; }

.information .container {
  margin-top: 10px; }
  .information .container h2 {
    color: #999;
    font-weight: 300;
    font-size: 20px; }
    .information .container h2 span {
      color: #c30930;
      font-weight: 500; }
  .information .container p {
    font-weight: 300;
    font-size: 12px; }
  .information .container div {
    display: inline-block;
    width: 48%;
    vertical-align: text-top; }
    .information .container div h3 {
      font-weight: 300;
      font-size: 18px;
      color: #ccc; }
