$primary-color: #A37;

$red-color: #c30930;
#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }

.container{
    width:80%;
    marign:auto;
    font-family: 'Roboto';
}

body{
    background-color: #f4f4f4;
}

//Primary Navber

.navbar-default {
    min-height: 30px;
    font-size: 9px;
    color: #fff;
    background-color: $red-color;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;

    .navbar-nav {
        margin-left: 20%;
    }

    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
    }

    .profile-img {
        border-radius: 100%;
        margin-left: 5px;
    }
}

//Secondary Navbar

.navbar-secondary {
    min-height: 10px;
    font-size: 7px;
    color: #848484;
    background-color: #f0f0f0;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-right {
        &:last-child {
            margin-right: 0;
        }

        .glyphicon {
            &:before {
                margin: 3px;
                vertical-align: middle;
            }
        }
    }

    .navbar-nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
        color: #848484;
        padding: 3px 5px;
        line-height:12px;
    }
}

//Branding and heading

.heading {
    background-color: #f4f4f4;
    height: 70px;

    .container {
        position: relative;

        .branding {
            display: inline-block;
            color: #fff;
            text-align: center;
            background-color: $red-color;
            width: 100px;
            height: 70px;
            position: relative;
            top: -20px;

            p {
                position: absolute;
                top: 25px;
                left: 15px;
            }
        }

        .content {
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 15%;
            color: #939393;
            font-size: 16px;

            div {
                display: inline;
            }
        }

        // Searchbox
        .search {
            position: absolute;
            right: 0;
            top: 30px;

            .searchbox {
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 2px 5px;
                font-size: 10px;

                input {
                    border: 0;
                    width: 200px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}


//Hero Section
.hero {
    min-height: 300px;
    background-image: url('/img/background.jpg');
    background-position: center;

    .container {
        min-height: 300px;
        position: relative;

        .content {
            color: #fff;
            background-color: rgba(73, 73, 72, 0.95);
            position: absolute;
            bottom: 0px;
            padding: 10px 10px;



            div {
                display: inline-block;
                width: 48%;
                padding: 0 10px;

                &:first-child {
                    border-right: 1px solid #666;
                }

                h2 {
                    font-family: 'Roboto';
                    font-weight: 100;
                }

                button {
                    background: none;
                    border: 1px solid #999;
                    padding: 8px;
                    font-size: 11px;
                }

                img {
                    display: inline-block;
                    width: 20%;
                    vertical-align: baseline;
                }

                p {
                    display: inline-block;
                    width: 75%;
                    font-size: 10px;
                    vertical-align: top;
                    padding: 10px;
                }
            }
        }
    }
}

//Information Technology

.information {
    .container {
        margin-top: 10px;

        h2 {
            color: #999;
            font-weight: 300;
            font-size: 20px;

            span {
                color: $red-color;
                font-weight: 500;
            }
        }

        p {
            font-weight: 300;
            font-size: 12px;
        }

        div {
            display: inline-block;
            width: 48%;
            vertical-align: text-top;

            h3 {
                font-weight: 300;
                font-size: 18px;
                color: #ccc;
            }
        }
    }
}


//Resources

.resources-title {
    .container {

        h2 {
            font-size: 20px;
            font-weight: 400;
            color: #666;
        }
    }
}

.resources {
    background-color: #363636;

    .container {

        .nav-pills {

            li {

                a {
                    border-radius: 0;
                    padding: 15px 15px;
                    color: #fff;

                    &:hover {
                        color: #eee;
                    }
                }

                hr {
                    margin-top: 0;
                    margin-bottom: 0;
                    border: 0;
                    border-top: 0;
                }

                .first {
                    background-color: #009fd7;
                    margin-right: 2%;
                }

                .second {
                    background-color: #4c5b70;
                    margin: 0 2%;
                }

                .third {
                    background-color: #d79561;
                    margin: 0 2%;
                }

                .fourth {
                    background-color: #c85b5e;
                    margin-left: 2%;
                }
            }

            .active {
                hr {
                    margin-top: 0;
                    margin-bottom: 0;
                    border-top: 3px solid #363636;
                    border-left: 0;
                    border-right: 0;
                }

                .first-hr {
                    border-bottom: 5px solid #009fd7;
                    margin-right: 2%;
                }

                .second-hr {
                    border-bottom: 5px solid #4c5b70;
                    margin: 0 2%;
                }

                .third-hr {
                    border-bottom: 5px solid #d79561;
                    margin: 0 2%;
                }

                .fourth-hr {
                    border-bottom: 5px solid #c85b5e;
                    margin-left: 2%;
                }
            }
        }

        .tab-content {

            .tab-pane {
                color: #ccc;
                background-color: #3b3b3b;
                font-size: 12px;
                font-weight: 300;
                padding: 5px 20px 20px 20px;
                border-top: 1px solid;

                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #999;
                    margin-top: 10px;
                }

                button {
                    background-color: #636562;
                    border: 0.9px solid #999;
                    padding: 5px 10px;
                    font-family: 'Roboto';
                    color: #eee;
                    display: inline;

                    span {
                        vertical-align: text-top;
                        margin-right:3px;
                    }
                }

                .share{
                    display:inline;
                    margin: 0 20px;
                }
            }

            #home {
                border-color: #009fd7;
            }

            #menu1 {
                border-color: #4c5b70;
            }

            #menu2 {
                border-color: #d79561;
            }

            #menu3 {
                border-color: #c85b5e;
            }
        }
    }
}

//Experts

.experts {
    margin: 20px 0;

    .container {

        h2 {
            font-size: 20px;
            font-weight: 400;
            color: #555;
        }

        .card {
            width: 14%;
            margin: 1.4%;
            display: inline-block;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type{
                margin-right: 0;
            }

            .name {
                background-color: #fff;
                padding: 10px;

                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    color: #666;
                }

                p {
                    font-size: 12px;
                    margin: 0;
                    color: #999;
                }
            }
        }
    }

    .connect {

        div {
            display: block;

            .topic {
                background-color: #fff;
                border: 0;
                font-size: 10px;
                width: 400px;
                height: 25px;
                margin: 5px 0;
                padding: 5px;

                &:focus {
                    outline: 0;
                }
            }

            textarea {
                border: 0;
                height: 100px;
                width: 400px;
                font-size: 10px;
                margin: 5px 0;
                padding: 5px;

                &:focus {
                    outline: 0;
                }
            }

            input[type="submit"] {
                background-color: #636562;
                border: 0;
                color: #fff;
                font-size: 12px;
                font-weight:300;
                padding: 5px 15px;
                margin: 5px 0;
            }
        }
    }
}


//Footer

footer {
    background-color: #363636;
    color: #878788;
    padding: 10px 0 50px 0;

    h3 {
        font-size: 16px;
        font-weight: 400px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            &:hover {
                cursor: pointer;
            }

            a {
                color: #878788;
                font-size: 12px;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}