$primary-color: #A37;

$red-color: #c30930;
#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }

.container{
    width:80%;
    marign:auto;
    font-family: 'Roboto';
}

//Primary Navber

.navbar-default {
    min-height: 30px;
    font-size: 9px;
    color: #fff;
    background-color: $red-color;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;

    .navbar-nav {
        margin-left: 20%;
    }

    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
    }

    .profile-img {
        border-radius: 100%;
        margin-left: 5px;
    }
}

//Secondary Navbar

.navbar-secondary {
    min-height: 10px;
    font-size: 7px;
    color: #848484;
    background-color: #f0f0f0;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-right {
        &:last-child {
            margin-right: 0;
        }

        .glyphicon {
            &:before {
                margin: 3px;
                vertical-align: middle;
            }
        }
    }

    .navbar-nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
        color: #848484;
        padding: 3px 5px;
        line-height:12px;
    }
}

//Branding and heading

.heading {
    background-color: #f4f4f4;
    height: 70px;

    .container {
        position: relative;

        .branding {
            display: inline-block;
            color: #fff;
            text-align: center;
            background-color: $red-color;
            width: 100px;
            height: 70px;
            position: relative;
            top: -20px;

            p {
                position: absolute;
                top: 25px;
                left: 15px;
            }
        }

        .content {
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 15%;
            color: #939393;
            font-size: 16px;

            div {
                display: inline;
            }
        }

        // Searchbox
        .search {
            position: absolute;
            right: 0;
            top: 30px;

            .searchbox {
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 2px 5px;
                font-size: 10px;

                input {
                    border: 0;
                    width: 200px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}


//Hero Section
.hero {
    min-height: 300px;
    background-image: url('/img/background.jpg');
    background-position: center;

    .container {
        min-height: 300px;
        position: relative;

        .content {
            color: #fff;
            background-color: rgba(73, 73, 72, 0.95);
            position: absolute;
            bottom: 0px;
            padding: 10px 10px;



            div {
                display: inline-block;
                width: 48%;
                padding: 0 10px;

                &:first-child {
                    border-right: 1px solid #666;
                }

                h2 {
                    font-family: 'Roboto';
                    font-weight: 100;
                }

                button {
                    background: none;
                    border: 1px solid #999;
                    padding: 8px;
                    font-size: 11px;
                }

                img {
                    display: inline-block;
                    width: 20%;
                    vertical-align: baseline;
                }

                p {
                    display: inline-block;
                    width: 75%;
                    font-size: 10px;
                    vertical-align: top;
                    padding: 10px;
                }
            }
        }
    }
}

//Information Technology

.information {
    .container {
        margin-top: 10px;

        h2 {
            color: #999;
            font-weight: 300;
            font-size: 20px;

            span {
                color: $red-color;
                font-weight: 500;
            }
        }

        p {
            font-weight: 300;
            font-size: 12px;
        }

        div {
            display: inline-block;
            width: 48%;
            vertical-align: text-top;

            h3 {
                font-weight: 300;
                font-size: 18px;
                color: #ccc;
            }
        }
    }
}